

*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-image: url(background2.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-size: cover;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}
.cancel{
	height: 40px;
	background: #D8C520;
	border: none;
	margin-bottom:10px;
	margin-left: 5px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: .4s ease;
	text-align: center;
    align-items: center;
    padding-top: 10px;

}
.cancel a{
	text-decoration: none;
	color: #000;
	transition:.3 ease;
	text-align: center;
}
.cancel:hover{
	background-color:#fff;
	text-align: center;
}
.cancel span{
	color: #D8C520;
	font-size: 60px;
	text-align: center;
}
.submit{
	height: 40px;
	background: #ecece8;
	border: none;
	margin-bottom:30px;
	margin-left: 5px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: .4s ease;
	text-align: center;
    align-items: center;
    padding-top: 10px;

}
.submit a{
	text-decoration: none;
	color: #000;
	transition:.3 ease;
	text-align: center;
}
.submit:hover{
	background-color:#D8C520;
	text-align: center;
}
.submit span{
	color: #D8C520;
	font-size: 60px;
	text-align: center;
}



